
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: var(--light-color);

    color: var(--base-color);
    font-family: var(--base-font);

}

h1{
    font-family: var(--accent-font);
    font-size: 7em;
    
    background-color: var(--accent-color);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.5) 6px 5px 5px;
}

h2{
    background-color: var(--accent-color);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    font-size: 30px;
    font-weight: 35;
}

a{
    text-decoration: none;
    color: var(--base-color);
}

a:hover{
    color: var(--accent-color);
}

ul{
    list-style: none;
}
li{
    padding:0.1em;
}
li i{
    padding-right: 1em;
}

