main, header, footer, section{
    display: flex;

    padding: 2em;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    gap: 1em;
}

article{
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    gap: 1em;
}

.width-full{
    width: 100%;
}
.width-70{
    width: 70%;
}
.genshinpic{
    margin-right: 22.5em;
}
.round-neumorph-btn{
    display: flex-end;

    width: auto;
    aspect-ratio: 1 / 1;

    padding: 0.5em;

    box-shadow:  -5px 5px 9px var(--shadow-dark), 5px -5px 9px var(--shadow-light);

    border-radius: 100%;
    border: 1px solid var(--shadow-light);

    justify-content: center;
    
}

.round-neumorph-btn:hover{
    background: linear-gradient(225deg, rgb(220, 219, 214, 0.3), rgb(255, 255, 255, 0.3)); 

    color: var(--accent-color);

    cursor: pointer;
}