nav{
    display: flex;
  
    width: 100%;

    flex-direction: row-reverse;
    align-items: center;

    gap: 1em;
}


nav label i{
  

    font-size: 1.5em;
    
}


nav input[type="checkbox"]{
    display: none;
}

nav ul{
    display: none;

    font-size: 1.2em;

    gap: 1em;
}


nav input[type="checkbox"]:checked ~ ul{
    display: flex;
}

